<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="paused" value="false"/>
	    <arg name="use_sim_time" value="true"/>
	    <arg name="gui" value="true"/>
	    <arg name="headless" value="false"/>
	    <arg name="debug" value="false"/>
  	</include>

    <group ns="robot1">
        <param name="tf_prefix" value="robot1"/>
        
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find swarm_robotics_urdf)/src/urdf/swarm1.xacro'" />
        
        <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_robot1" pkg="gazebo_ros" type="spawn_model"
              args="-param robot_description
                    -urdf
                    -z 0.01
                    -model robot1"
              respawn="false" />
              
        <!-- start robot state publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher1" >
            <param name="publish_frequency" type="double" value="50.0" />
        </node>
    </group>

    <group ns="robot2">
        <param name="tf_prefix" value="robot2"/>
               
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find swarm_robotics_urdf)/src/urdf/swarm2.xacro'" />
        

        <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_robot2" pkg="gazebo_ros" type="spawn_model"
              args="-param robot_description
                    -urdf
                    -y 2.00
                    -z 0.01
                    -model robot2"
              respawn="false" output="screen" />
              
        <!-- start robot state publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher2" output="screen" >
            <param name="publish_frequency" type="double" value="50.0" />
        </node>
    </group>

    <group ns="robot3">
        <param name="tf_prefix" value="robot3"/>
               
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find swarm_robotics_urdf)/src/urdf/swarm3.xacro'" />
        
        <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_robot3" pkg="gazebo_ros" type="spawn_model"
              args="-param robot_description
                    -urdf
                    -x 2.00
                    -y 2.00
                    -z 0.01
                    -model robot3"
              respawn="false" output="screen" />
              
        <!-- start robot state publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher3" output="screen" >
            <param name="publish_frequency" type="double" value="50.0" />
        </node>
    </group>

    <group ns="robot4">
        <param name="tf_prefix" value="robot4"/>
               
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find swarm_robotics_urdf)/src/urdf/swarm4.xacro'" />
        
        <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_robot4" pkg="gazebo_ros" type="spawn_model"
              args="-param robot_description
                    -urdf
                    -x 4.00
                    -y 4.00
                    -z 0.01
                    -model robot4"
              respawn="false" output="screen" />
              
        <!-- start robot state publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher4" output="screen" >
            <param name="publish_frequency" type="double" value="50.0" />
        </node>
    </group>

    <group ns="robot5">
        <param name="tf_prefix" value="robot5"/>
               
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find swarm_robotics_urdf)/src/urdf/swarm5.xacro'" />
        
        <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_robot5" pkg="gazebo_ros" type="spawn_model"
              args="-param robot_description
                    -urdf
                    -x 5.00
                    -y 5.00
                    -z 0.01
                    -model robot5"
              respawn="false" output="screen" />
              
        <!-- start robot state publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher5" output="screen" >
            <param name="publish_frequency" type="double" value="50.0" />
        </node>
    </group>

    <group ns="robot6">
        <param name="tf_prefix" value="robot6"/>
               
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find swarm_robotics_urdf)/src/urdf/swarm6.xacro'" />
        
        <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_robot6" pkg="gazebo_ros" type="spawn_model"
              args="-param robot_description
                    -urdf
                    -x -1.00
                    -y -1.00
                    -z 0.01
                    -model robot6"
              respawn="false" output="screen" />
              
        <!-- start robot state publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher6" output="screen" >
            <param name="publish_frequency" type="double" value="50.0" />
        </node>
    </group>
    
</launch>