<launch>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

    <group ns="robot1">
        <param name="tf_prefix" value="robot1"/>
        
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find swarm_robotics_urdf)/src/urdf/swarm1.xacro'" />
        
        <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_robot1" pkg="gazebo_ros" type="spawn_model"
              args="-param robot_description
                    -urdf
                    -z 0.01
                    -model robot1"
              respawn="false" />
              
        <!-- start robot state publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher1" >
            <param name="publish_frequency" type="double" value="50.0" />
        </node>
    </group>

       <node pkg="controller_manager"
         type="spawner"
         args="single_controller" />

</launch>